<h1>Become a New Member</h1>
<div id="new_member_text">
  <p>Becoming a member on rétto allows you to place your order, view your current order, checkout, and view past orders associated with your account.</p>
  <p><strong>Hungry?</strong> Sign up today and order out from your favorite menus, all in one place!</p>
  <p><strong>Restaurant owner?</strong> Register your restaurant with us and start reaching new customers today!</p>
</div>

<div id="new_member_form">
  <%= render 'form' %>
</div>

