<div class="user_order" id="order_details">
  <h1><%= checkout_header %></h1>

    <%= render partial: "order", collection: @orders %>

  <div id="all_orders_total">
    <h4>Order Total</h4>
    <h4>$<%= @total %>0</h4>
  </div>
  
</div>
