<div id="restaurant_<%= restaurant.id %>", class="restaurant">

  <h1><%= link_to restaurant.name.upcase, restaurant %></h1>

  <div id="items">
    <ul>
      <%= render partial: "items/item", collection: @items %>
    </ul>
  </div>

</div>
