#dashboard h2 {
  color: #473A36;
}

.categories-list {
  color: #473A36;
}

.categories-list .btn-success {
  color: #473A36;
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  padding-top: 1px;
  padding-bottom: 1px;
}

.categories-list .btn-success:hover { 
  color: #473A36;
  background-color: #D3CDCA;
  border-color: #D3CDCA;
}

.span12 .btn-success {
  color: #473A36;
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  padding-top: 1px;
  padding-bottom: 1px;
}

.span12 .btn-success:hover { 
  color: #473A36;
  background-color: #D3CDCA;
  border-color: #D3CDCA;
}

.container {
  color: #473A36;
}

#new_member_text {
  display: inline-block;
  width: 400px;
  vertical-align: text-top;
  margin-top: 20px;
  padding-right: 40px;
  margin-left: 10px;
}

#new_member_form {
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 25px;
}
