<div class="login-form">
  <div class="form-container">
  <h2>Login</h2>

    <%= render 'login' %>
    
    <%= link_to "<< Back to Menu", items_path %>

  </div>
</div>


    <p class="new-member">Not a Member?</p>
    <p class="new-member"><%= link_to "Create an Account", new_user_path %></p>


